* {
    box-sizing: border-box;
    margin: 0;
}


/*Unité rem pour les espaces entre les items (gap, padding...), plus pratique pour le responsive  */


/* Unité rem pour que les paddings/ gap se scalent avec les changements de tailles de la police*/


/* Unité % pour les largeurs fluides (images, etc)*/


/* Background pleine largeur*/

header,
section,
footer {
    width: 100%;
}

h1 {
    font-size: 5.5rem;
    line-height: 4.2rem;
}


/* Centrer le contenu selon les valeurs donné par figma*/

.container {
    /* un minimum de 1180px car la largeur défini sur figma est plus ou moins celle-ci pour tout les autres conteneurs*/
    /* Garder une marge sur les côtés de 10% sur tablettes et mobiles*/
    width: min(1180px, 90%);
    margin: 0 auto;
}


/* HEADER */

header {
    padding: 2.25rem 0;
    background-color: red;
}

nav {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    background-color: blue;
    ;
}


/* HERO LAYOUT*/

.hero-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 9.375rem;
}


/* ALIGNEMENTS ITEMS*/

.stack {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.hero-content {
    gap: 1.875rem;
}

.hero-aside {
    gap: 1.25rem;
    max-width: 400px;
}

.legend {
    display: flex;
    align-items: center;
    gap: 0.625rem;
}

.review {
    display: flex;
    justify-content: space-around;
    padding: 1.25rem;
    border: 2px solid black;
    border-radius: 5px;
}


/* IMAGES*/

.hero-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.legend>img {
    /* Respecter les valeurs appliqué dans figma. l'image ne bougera pas même en responsive*/
    /* Pour les petits avatars/icones qui n'ont pas d'incidence sur le responsive*/
    width: 110px;
    height: 40px;
}

.layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.content1,
.content2 {
    width: 50%;
    height: auto;
    background-color: green;
}